<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  
  <%# #All that was needed here was the artist_songs_path ... the result is a list of artists
  #  that are links to the SPECIFIC url that has the artist and songs for the artist %>
  
  <%# Follow the routes in rake routes!! %>
  
  <% end %>
</ul>
