<% if @invalid_artist %>
  <h1>Artist not found</h1>
<% end %>
  <h1>Artists</h1>
  <ul>
    <% @artists.each do |artist| %>
      <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  </ul>
<% end %>