<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <h2><%= link_to artist.name, artist_path(artist) %></h2>
    <%= link_to "Songs by #{artist.name}", artist_songs_path(artist) %>

    <br></br>
  <% end %>
</ul>
