<h1>Artists</h1>
<% if flash[:alert] %>
  <%= content_tag :div, flash[:alert], class: "flash-alert" %>
<% end %>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  <% end %>
</ul>
