<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
<<<<<<< HEAD
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
=======
    <li><%= link_to artist.name, artist_path(artist) %></li>
>>>>>>> 60f92d6495cfaaf6c144bf137258bd9b693bbaaf
  <% end %>
</ul>
