<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li> <!-- goes to the path, could go to song path, but we want the nested route in here -->
  <% end %>
</ul>
