<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li><br>

    <ul>
      <% artist.songs.each do |song| %>
        <li><%= link_to song.title, artist_song_path(artist, song) %></li>
      <% end %>
    </ul><br />
  <% end %>
</ul>
