<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
  <p>
    <li><%= link_to artist.name, artist_path(artist) %></li>
    <li><%= link_to "#{artist.name}'s songs", artist_songs_path(artist) %></li>
  </p>
  <% end %>
</ul>
