<h1>Artists</h1>
<% if flash[:alert].present? %>
  <p><%= flash[:alert] %></p>
<% end %>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  <% end %>
</ul>
