<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <!-- update to use nested helper, links to
    index page of all songs of artist -->
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  <% end %>
</ul>
