<h1><%= @artist.name %></h1>
<ul>
  <% @artist.songs.each do |song| %>
      <%# <%= song.title %>
      <%# <% if song.artist.valid? %> 
    <li><%= link_to song.title, artist_song_path(@artist, song) %></li>
      <%# <% else %>
        <%# <%= puts "Artist not found" %> 
      <%# <% end %> 

    <%# We need two arguments for artist_song_path because we need the id of the specific artist
      and we need the song instance for making this kind of associated result; if it's just one class
      involved, we only need one argument.  %>

  <% end %>
</ul>
