<p class="flash-alert"><%= params[:alert] %></p>
<h1><%= @artist.name %></h1>
<ul>
  <%# binding.pry %>

  <% @artist.songs.each do |song| %>
  <%# binding.pry %>

    <li><%= link_to song.title, artist_song_path(@artist, song) %></li>
  <% end %>
</ul>
