<h1><%= link_to @artist.name, artist_songs_path(@artist) %></h1>

<% if flash[:alert] %>
  <%= content_tag :div, flash[:alert], class: "flash-alert" %>
<% end %>

<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, artist_song_path(@artist, song) %></li>
  <% end %>
</ul>
