<h1>Song Index</h1>

<p>All Artists & Songs: 
<ul>
<% @songs.each do |song| %>
  <li> <%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul></p><br>

<%= link_to "Add New Song", new_song_path %>

 
 
 
 
