<h1>All Songs</h1>
<ul>
<% @songs.each do |song| %>
  <li>
	<%= link_to song.title, song_path(song) %>
		<ul>
		<li> 
			<%= display_artist(song) %>
		 </li>
		</ul>
	</li>
	<br/>
  
<% end %>
</ul>

