<h1><%= link_to @song.title, song_path(@song) %></h1>
<h3> by <%= display_artist(@song) %></h3>

<%= link_to "All Songs", songs_path %>

<br>
<br>

    #  Failure/Error: expect(page).to have_link(@song.title, href: song_path(@song))
    #    expected to find link "The Grid" with href "/songs/7" but there were no matches. Also found "The Grid", which matched the selector but not all filters.