<h1><%= link_to @song.title, artist_song_path(@song.artist, @song) %></h1>
<% if @song.artist.name == "" %>
	<%= link_to "Add Artist", edit_song_path(@song) %>
<% else %>
	<h3> by <%= link_to display_artist(@song), artist_path(@song.artist) %></h3>
<% end %>
<%= link_to "All Songs", songs_path %>
