<h1><%= link_to @song.title, song_path(@song) %></h1>
<% if @song.artist%>
<h3> by <%= link_to @song.artist.name, artist_path(@song.artist) %></h3>
<% else%>
<%= link_to "Add An Artist", edit_song_path(@song)%>
<%end%>

<%= link_to "All Songs", songs_path %>
